snakemake==7.32.3
pytorch-lightning==1.9.2
torch==1.13.1+cu117
torch-cluster==1.6.1+pt113cu117
torch-geometric==2.3.0
torch-scatter==2.1.1+pt113cu117
torch-sparse==0.6.17+pt113cu117
torch-spline-conv==1.2.2+pt113cu117
torchaudio==0.13.1+cu117
torchmetrics==0.11.4
torchvision==0.14.1+cu117
awkward==2.2.1
awkward-cpp==15
awkward-pandas==2023.8.0
matplotlib==3.7.1
matplotlib-inline==0.1.6
numpy==1.24.1
scikit-learn==1.2.2
scipy==1.10.1
uproot==5.0.7
